#yellow-ascii, #blue-ascii {
  position: absolute;
}

#yellow-ascii {
    top: 50px; /* Adjust as needed */
    left: 30px; /* Adjust as needed */
    width: 400px;
}
  
#blue-ascii {
    top: 150px; /* Adjust as needed */
    left: 60px; /* Adjust as needed */
    width: 400px;
}  