.ascii-container {
    position: relative;
    height: 100vh;
}

#yellow-ascii {
    position: absolute;
    width: 400px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 25%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
} 

#blue-ascii {
    position: absolute;
    width: 400px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 25%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}

#pink-ascii {
    position: absolute;
    width: 400px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 50%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}

#green-ascii {
    position: absolute;
    width: 400px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 75%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}

#light-pink-ascii {
    position: absolute;
    width: 400px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 80%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}

#light-yellow-ascii {
    position: absolute;
    width: 400px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 90%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}