.ascii-container {
    position: relative;
    height: 100vh;
}

#yellow-ascii {
    position: absolute;
    width: 400px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 20%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
} 

#blue-ascii {
    position: absolute;
    width: 400px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 40%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}

#pink-ascii {
    position: absolute;
    width: 400px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 60%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}

#green-ascii {
    position: absolute;
    width: 400px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 80%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}