html, body {
    overflow: hidden; 
    background: rgb(131, 149, 255);
}

.bract-container {
    height: 100vh; 
}

#yellow-ascii,
#transparent,
#lilac-ascii,
#orange-ascii,
#violet-ascii,
#light-yellow-ascii {
    position: absolute;
    height: 100vh; 
    max-height: 80%; 
    width: auto; 
    transform: translate(-50%, -50%); 
    flex-grow: 1; 
    max-width: none; 
}

#yellow-ascii {
    top: 50%; 
    left: 50%; 
}

#transparent {
    top: 50%; 
    left: 50%; 
}

#orange-ascii {
    top: 50%; 
    left: 50%; 
}

#lilac-ascii {
    top: 50%; 
    left: 50%; 
}

#violet-ascii {
    top: 49.3%; 
    left: 50%; 
}

#light-yellow-ascii {
    top: 48.8%; 
    left: 50%; 
}

@media screen and (max-height: 480px) {
    #yellow-ascii,
    #transparent,
    #lilac-ascii,
    #orange-ascii,
    #violet-ascii,
    #light-yellow-ascii {
        height: 60vh; 
        max-height: 80%; 
        max-width: 200px;
    }
}

@media screen and (min-height: 800px) and (max-height: 1200px) {
    #yellow-ascii,
    #transparent,
    #lilac-ascii,
    #orange-ascii,
    #violet-ascii,
    #light-yellow-ascii {
        height: 100vh; 
        max-height: 80%; 
    }
}