html, body {
    background-color: lightblue;
}

.header a {
    /* This class is for the top part of the page where the Sarah Madeline link is */
    text-align: left; /* Aligns the text to the left */
    width: 100%; /* Ensures the header spans the full width */
    padding-left: 10px; /* Adjust padding as needed */
    color: rgb(255, 255, 110);
    text-decoration: none;
    font-size: 18px;
    font-family: Georgia, Tahoma, Verdana;
    position: fixed;
    top: 4%;
    left: 2%;
}

.header a:hover {
    /* This class is for the top part of the page where the Sarah Madeline link is */
    text-align: left; /* Aligns the text to the left */
    width: 100%; /* Ensures the header spans the full width */
    padding-left: 10px; /* Adjust padding as needed */
    color: rgb(182, 182, 232);
    text-decoration: none;
    font-size: 18px;
    font-family: Georgia, Tahoma, Verdana;
}

.cv-container {
    margin-top: 10px; /* This pushes the .cv-container down the page */
    width: 100%; /* This ensures it takes up the full width */
    display: flex;
    justify-content: center; /* This centers the .cv content horizontally */
}

.cv {
    max-width: 600px; /* or any other value you prefer */
    margin: 100px auto; /* This will add 50px margin to the top and keep the container centered horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* This will align items in the center horizontally within the .cv container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
    background: #fff; /* Optional: Sets a white background for the cv container */
    padding: 20px; /* Adds padding inside the cv container */
    width: 80%; /* Sets the width of the cv container to 80% of the page */
    justify-content: flex-start; /* Aligns children to the start of the container */
    align-items: center; /* Centers items horizontally if the container is wider than the content */
    background: linear-gradient(#d6ec9e, 10%, #ffffff);
    border: 2px solid rgb(240, 240, 240);
}

/* Additional styles to ensure everything is visible and aligned */
.cv-text {
    width: 100%; /* It will take the full width of the parent element */
    max-width: 600px; /* Adjust this value to make the container narrower */
    margin: 20px 0; /* Adds margin above and below the cv-text */
}

/* Ensure ul elements within .cv-text do not exceed the width of their container */
.cv-text ul {
    max-width: 100%;
    padding: 0; /* Resets any padding to ensure alignment */
}

/* Ensure li elements within .cv-text are properly aligned */
.cv-text li {
    justify-content: space-between; /* Spreads out the year and info */
    padding: 5px 0; /* Adds padding above and below each li for readability */
}