body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(255, 240, 30), whitesmoke);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cybersilk {
    width: 100%;
    text-align: left;
    font-family: "Jacquarda Bastarda 9 Charted", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: rgb(255, 255, 255);
    margin: 0;
    padding-top: 20px; /* Adjust this value as needed */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}