html, body {
    background-color: darkred;
    overflow: hidden; 
}

.container {
    height: 100vh; 
}

#ascii-photo-1,
#ascii-photo-2
{
    position: absolute;
    height: 90vh; 
    max-height: 100%; 
    width: auto; 
    transform: translate(-50%, -50%);
    flex-grow: 1;
    max-width: none; 
}

#ascii-photo-1 {
    top: 49.99%; 
    left: 50.15%; 
}

#ascii-photo-2 {
    top: 50%; 
    left: 50%; 
}



@media screen and (max-height: 480px) {
    #ascii-photo-1,
    #ascii-photo-2 {
        height: 60vh; 
        max-height: 100%; 
    }

    #ascii-photo-1 {
        top: 49.99%; 
        left: 49.88%; 
    }

    #ascii-photo-2 {
        top: 50%; 
        left: 50%; 
    }
}


@media screen and (min-height: 800px) and (max-height: 1200px) {
    #ascii-photo-1,
    #ascii-photo-2 {
        height: 100vh; 
        max-height: 100%; 
    }
}