html, body {
    background-color: rgb(232, 250, 255);
}

.ascii-container {
    position: relative;
    height: 100vh;
}

#yellow-ascii {
    position: absolute;
    width: 480px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 50%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
} 

#pink-ascii {
    position: absolute;
    width: 480px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 50%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}

#lilac-ascii {
    position: absolute;
    width: 480px;
    top: 49%; /* Set top to 50% of the parent container */
    left: 50%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
} 

#bright-pink-ascii {
    position: absolute;
    width: 480px;
    top: 48%; /* Set top to 50% of the parent container */
    left: 49.8%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}

#light-yellow-ascii {
    position: absolute;
    width: 480px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 50%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}

@media screen and (max-width: 480px) {
    .ascii-container {
        position: relative;
        height: 100vh;
    }
    
    #yellow-ascii {
        position: absolute;
        width: 400px;
        top: 50%; /* Set top to 50% of the parent container */
        left: 50%; /* Set left to 50% of the parent container */
        transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
    } 
    
    #pink-ascii {
        position: absolute;
        width: 300px;
        top: 50%; /* Set top to 50% of the parent container */
        left: 50%; /* Set left to 50% of the parent container */
        transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
    }
    
    #lilac-ascii {
        position: absolute;
        width: 300px;
        top: 49%; /* Set top to 50% of the parent container */
        left: 50%; /* Set left to 50% of the parent container */
        transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
    } 
    
    #bright-pink-ascii {
        position: absolute;
        width: 300px;
        top: 48%; /* Set top to 50% of the parent container */
        left: 49.8%; /* Set left to 50% of the parent container */
        transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
    }
    
    #light-yellow-ascii {
        position: absolute;
        width: 300px;
        top: 50%; /* Set top to 50% of the parent container */
        left: 50%; /* Set left to 50% of the parent container */
        transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
    }
}
