html, body {
    background-color: rgb(232, 250, 255);
    overflow: hidden; /* This hides scrollbars */
}

.flex-container {
    height: 100vh; /* Set the container height to fill the viewport */
}

#yellow-ascii,
#pink-ascii,
#lilac-ascii,
#bright-pink-ascii,
#light-yellow-ascii {
    position: absolute;
    height: 100vh; /* Set the initial height as a percentage of the viewport height */
    max-height: 100%; /* Ensure the image doesn't exceed the container height */
    width: auto; /* Auto width to maintain aspect ratio */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
    flex-grow: 1; /* Allow the image to grow or shrink within the flex container */
    max-width: none; /* Reset the max-width property */
}

#yellow-ascii {
    top: 50%; /* Set top to 20% of the parent container */
    left: 50%; /* Set left to 20% of the parent container */
}

#pink-ascii {
    top: 50%; /* Set top to 30% of the parent container */
    left: 50%; /* Set left to 30% of the parent container */
}

#lilac-ascii {
    top: 49%; /* Set top to 40% of the parent container */
    left: 50%; /* Set left to 40% of the parent container */
}

#bright-pink-ascii {
    top: 48%; /* Set top to 50% of the parent container */
    left: 49.8%; /* Set left to 50% of the parent container */
}

#light-yellow-ascii {
    top: 50%; /* Set top to 60% of the parent container */
    left: 50%; /* Set left to 60% of the parent container */
}

@media screen and (max-height: 480px) {
    #yellow-ascii,
    #pink-ascii,
    #lilac-ascii,
    #bright-pink-ascii,
    #light-yellow-ascii {
        height: 60vh; /* Adjust the height for smaller screens as a percentage of the viewport height */
        max-height: 100%; /* Ensure the image doesn't exceed the container height */
    }
}


@media screen and (min-height: 800px) and (max-height: 1200px) {
    #yellow-ascii,
    #pink-ascii,
    #lilac-ascii,
    #bright-pink-ascii,
    #light-yellow-ascii {
        height: 100vh; /* Adjust the height for larger screens as a percentage of the viewport height */
        max-height: 100%; /* Ensure the image doesn't exceed the container height */
    }
}

