html, body {
    cursor: none; /* Hide the default cursor for both html and body */
    background-color: black;
}

.custom-cursor {
    width: 20px;
    height: 20px;
    border-radius: 40%;
    background: radial-gradient(ellipse,lightyellow 5%,
    transparent 50%);
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#green-moth {
    position: absolute;
    width: 150px;
    top: 65%;
    left: 35%;
    transition: top 2s ease-in-out, left 2s ease-in-out;  /* Add this line */
}