html, body {
    cursor: url('light.png'), auto; /* Custom cursor for the whole page */
    background-color: black;
}

#green-moth {
    position: absolute;
    width: 150px;
    top: 65%;
    left: 35%;
    transition: top 2s ease-in-out, left 2s ease-in-out;
}

#light {
    width: 30px;
}