html, body {
    background-color: darkred;
    overflow: hidden; 
}

.container {
    height: 100vh; 
}

#ascii-photo-1,
#ascii-photo-2
{
    position: absolute;
    height: 100vh; 
    max-height: 100%; 
    width: auto; 
    transform: translate(-50%, -50%);
    flex-grow: 1;
    max-width: none; 
}

#ascii-photo-1 {
    top: 49.8%; 
    left: 49.9%; 
}

#ascii-photo-2 {
    top: 49.9%; 
    left: 50%; 
}



@media screen and (max-height: 480px) {
    #ascii-photo-1,
    #ascii-photo-2 {
        height: 60vh; 
        max-height: 100%; 
    }
}


@media screen and (min-height: 800px) and (max-height: 1200px) {
    #ascii-photo-1,
    #ascii-photo-2 {
        height: 100vh; 
        max-height: 100%; 
    }
}