html, body {
    background-color: whitesmoke;
    overflow: hidden; /* This hides scrollbars */
    margin: 0;
    padding: 0;
}

.bright-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center; /* Centers layers horizontally */
    align-items: center; /* Centers layers vertically */
    position: relative;
}

/* General styling for each image-layer */
.image-layer {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Allows image interactions but not container interaction */
}

/* Ensure images are absolute within their layer but can still move freely */
.image-layer img {
    position: absolute;
    max-height: 100%;
    width: auto;
    pointer-events: auto; /* Enable interaction with individual images */
    transition: transform 0.2s ease; /* Smooth transition for movements */
}

/* Specific positioning for individual images */
#yellow-ascii {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blue-ascii {
    top: 49%;
    left: 52%;
    transform: translate(-50%, -50%);
}

#lilac-ascii {
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pale-yellow-ascii {
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#violet-ascii {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#light-yellow-ascii {
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#light-pink-ascii {
    top: 48.8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bright-pink-ascii {
    top: 51%;
    left: 85%;
    transform: translate(-50%, -50%);
}

#peach-ascii {
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
}

#periwinkle-ascii {
    top: 52%;
    left: 85%;
    transform: translate(-50%, -50%);
}

#bright-yellow-ascii {
    top: 49.5%;
    left: 85%;
    transform: translate(-50%, -50%);
}

#green-ascii {
    top: 48.1%;
    left: 85%;
    transform: translate(-50%, -50%);
}

/* Media query for smaller screens with height <= 480px */
@media screen and (max-height: 480px) {
    .image-layer img {
        height: 60vh; /* Adjust height for smaller screens */
        max-height: 100%;
    }
}

/* Media query for medium-height screens with height between 800px and 1200px */
@media screen and (min-height: 800px) and (max-height: 1200px) {
    .image-layer img {
        height: 100vh; /* Adjust height for larger screens */
        max-height: 100%;
    }
}