html, body {
    background-color: white;
    overflow: hidden; /* This hides scrollbars */
}

.ascii-container {
    position: relative;
    height: 100vh;
}

#yellow-ascii {
    position: absolute;
    width: 480px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 15%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
} 

#blue-ascii {
    position: absolute;
    width: 480px;
    top: 47%; /* Set top to 50% of the parent container */
    left: 50%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}

#pink-ascii {
    position: absolute;
    width: 480px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 85%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}

@media screen and (max-width: 480px) {
    #yellow-ascii {
        position: absolute;
        width: 100px;
        top: 50%; /* Set top to 50% of the parent container */
        left: 15%; /* Set left to 50% of the parent container */
        transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
    } 
    
    #blue-ascii {
        position: absolute;
        width: 100px;
        top: 49.5%; /* Set top to 50% of the parent container */
        left: 50%; /* Set left to 50% of the parent container */
        transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
    }
    
    #pink-ascii {
        position: absolute;
        width: 100px;
        top: 50%; /* Set top to 50% of the parent container */
        left: 85%; /* Set left to 50% of the parent container */
        transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
    }
}