html, body {
    background-color: white;
    overflow: hidden; /* This hides scrollbars */
}

.ascii-container {
    position: relative;
    height: 100vh;
}

#yellow-ascii {
    position: absolute;
    width: 480px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 15%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
} 

#blue-ascii {
    position: absolute;
    width: 480px;
    top: 47%; /* Set top to 50% of the parent container */
    left: 50%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}

#pink-ascii {
    position: absolute;
    width: 480px;
    top: 50%; /* Set top to 50% of the parent container */
    left: 85%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
}

@media screen and (max-width: 480px) {
    #yellow-ascii {
        position: absolute;
        width: 100px;
        top: 50%; /* Set top to 50% of the parent container */
        left: 15%; /* Set left to 50% of the parent container */
        transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
    } 
    
    #blue-ascii {
        position: absolute;
        width: 100px;
        top: 49.5%; /* Set top to 50% of the parent container */
        left: 50%; /* Set left to 50% of the parent container */
        transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
    }
    
    #pink-ascii {
        position: absolute;
        width: 100px;
        top: 50%; /* Set top to 50% of the parent container */
        left: 85%; /* Set left to 50% of the parent container */
        transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
    }
}



/* Media query for iPads in landscape mode */
@media screen and (max-width: 1024px) {
    #yellow-ascii {
        width: 400px;
        left: 10%;
    }

    #blue-ascii {
        width: 400px;
        top: 48%;
        left: 50%;
    }

    #pink-ascii {
        width: 400px;
        left: 90%;
    }
}

/* Media query for iPads in portrait mode */
@media screen and (max-width: 768px) {
    #yellow-ascii {
        width: 350px;
        top: 40%;
        left: 20%;
    }

    #blue-ascii {
        width: 350px;
        top: 50%;
        left: 50%;
    }

    #pink-ascii {
        width: 350px;
        top: 60%;
        left: 80%;
    }
}

/* Media query for small laptops or larger tablets */
@media screen and (max-width: 1280px) {
    #yellow-ascii {
        width: 450px;
        left: 12%;
    }

    #blue-ascii {
        width: 450px;
        top: 48%;
        left: 50%;
    }

    #pink-ascii {
        width: 450px;
        left: 88%;
    }
}
