html, body {
    background-color: darkred;
    overflow: hidden; /* This hides scrollbars */
}

.image-container {
    position: relative;
    height: 100vh;
}

#siblings-ascii-i {
    position: absolute;
    width: 15%;
    top: 50%; /* Set top to 50% of the parent container */
    left: 50%; /* Set left to 50% of the parent container */
    transform: translate(-50%, -50%); /* Shift the image back by half its width and height */
} 

