.snowshoe-hare {
  size: 200px;
}

.snowshoe-title {
  background-color: whitesmoke;
  color: transparent;
  text-shadow: 0px 2px 3px rgb(67, 118, 234);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}