html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns content to the top */
    align-items: center; /* Centers content horizontally */
    padding-top: 10px; /* Reduced padding from the top */
}

#snowshoe-hare {
    max-width: 100px; /* Adjust size of the image */
    margin-bottom: 0px; /* Ensure there's minimal space between the image and the text */
    margin-top: 0px;
}

.snowshoe-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns content to the top */
    align-items: center; /* Centers content horizontally */
    padding-top: 0px; /* Reduced padding from the top */
}

#cross-stitch-title {
    max-width: 170px; /* Adjust size of the image */
    margin-bottom: 0px; /* Ensure there's minimal space between the image and the text */
    margin-top: 0px;
}