html {
    height: 100%;
    background-color: rgb(182, 219, 255);
    margin: 0;   /* Remove any default margins */
    padding: 0;  /* Remove any default padding */
    /* ... (keep the rest of your body and html styles) ... */
    font-family: "Fira Code";
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    background: rgb(182, 219, 255);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; /* Hide scrollbars */
}
        
#whitehorse * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#whitehorse html, #whitehorse body {
    margin: 0;   /* Remove any default margins */
    padding: 0;  /* Remove any default padding */
    /* ... (keep the rest of your body and html styles) ... */
}

#whitehorse .whitehorse {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;  /* 100% of the viewport height */
    display: flex;  /* Use Flexbox */
    flex-direction: column;  /* Stack children vertically */
    justify-content: center;  /* Center children vertically */
    align-items: center;  /* Center children horizontally */
}

#whitehorse img {
    flex-grow: 1;  /* Allow the image to grow and take available space */
    object-fit: contain;  /* Keeps aspect ratio */
    height: auto;
    max-height: 80vh; /* Try a larger value */
    width: auto;
    max-width: 100%;
}

#whitehorse .description {
    flex-shrink: 0;  /* Prevent the text box from shrinking */
    height: 20vh; /* Reduced to compensate for the larger image */
    color: white;
    background-color: black;
    text-align: left;
    overflow-y: auto;
    width: 100%;  /* Make it span the entire width of the .whitehorse container */
}

.myVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;  /* hide overflow */
}

video {
    object-fit: contain;
    max-width: 90%;
    max-height: 80vh; /* Adjust based on your needs */
    z-index: 0;
    margin-bottom: 10px; /* Optional, adds some space between video and text */
}

.textBackground {
    background-color: black; /* Set background color to black */
    width: 100%;  /* Full width */
    min-height: calc(100vh - 80vh);  /* Take up the remaining vertical space */
    color: white;  /* Text color */
    flex-grow: 1;  /* Take up remaining space */
    display: flex;
    align-items: center;
    justify-content: center;
}

#rattlesnake .description {
    flex-shrink: 0;  /* Prevent the text box from shrinking */
    height: 20vh; /* Reduced to compensate for the larger image */
    color: white;
    background-color: black;
    text-align: left;
    overflow-y: auto;
    font-family: "Fira Code";
    width: 100%;  /* Make it span the entire width of the .whitehorse container */
}