* {
    line-height: 1;
    
}

html {
    height: 100%;
    margin: 0%;
}

body {
    background: lightblue;
    min-height: 100vh;
    max-width: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 90%;
    max-width: 1200px;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    justify-content: center;
}

.redmaple-container {
    padding-left: 40px;
}

.ikebana {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin: 0 auto;
    width: auto;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ikebana2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#image1 {
    width: 300px;
    z-index: -1;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
}

#image2 {
    width: 300px;
    z-index: -1;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
}

#image3 {
    width: 300px;
    z-index: -1;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
}

#image4 {
    width: 300px;
    z-index: -1;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
}

#image5 {
    width: 300px;
    z-index: -1;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
}

#image6 {
    width: 300px;
    z-index: -1;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
}

#image7 {
    width: 300px;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
}

#image8 {
    width: 300px;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
}

#image9 {
    width: 300px;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
}

#image10 {
    width: 300px;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
}

#image11 {
    width: 300px;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
}

#image12 {
    width: 300px;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
}

#image13 {
    width: 300px;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
}

.content a {
    color: grey;
    font-size: 15px;
    text-decoration: none;
    text-transform: lowercase;
    font-family: Georgia, Tahoma, Verdana;
    padding-left: 0px;
}

.content a:hover {
    color: rgb(143, 132, 227);
    font-size: 15px;
    text-transform: lowercase
}

.name {
    color: rgb(255, 255, 110);
    font-size: 18px;
    font-family: Georgia, Tahoma, Verdana;
    padding-left: 10px;
}

.screenings {
    list-style: none;
    font-size: 18px;
}

.page a:active {
    text-decoration: none;
    color: grey;
    font-family: Georgia, Tahoma, Verdana;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:-1;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 80%;
  }

  .controls {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, #000);
    align-items: center;
    transition: opacity .2s;
    margin: 0;
  }
  .control-button {
    border: none;
    background: transparent;
    cursor: pointer;
    opacity: .8;
    transition: all .2s;
  }
  
  .control-button:hover {
    opacity: 1;
  }
  
  .control-button svg {
    stroke: #fff;
    fill: transparent;
  }
  .control-button.play-button {
    height: 40px;
    width: 40px;
  }
  
@media screen and (max-width: 768px) {
    .statement {
        padding-right: 20px;
        font-size: 14px;
    }

    .menu {
        right: 20px;
    }

    .name {
        font-size: 16px;
        margin-right: 0;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .menu ul {
        margin: 20px;
    }

    .cv {
        padding-right: 10px;
    }

    body, html {
        margin: 0;
        padding: 0;
    }
}

#whitehorse * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#whitehorse html, #whitehorse body {
    margin: 0;   /* Remove any default margins */
    padding: 0;  /* Remove any default padding */
    /* ... (keep the rest of your body and html styles) ... */
}

#whitehorse .whitehorse {
    text-align: center; /* Center the image and text horizontally */
    max-width: 100%; 
    max-height: 100%; 
    position: relative; /* Not absolute. Let it flow naturally in the document */
    width: 100%;
}

#whitehorse .description {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    width: 100%; /* Make the width of the text background span the entire screen width */
    padding-left: 0; /* Remove any left padding */
    padding-right: 0; /* Remove any right padding */
    margin-left: 0; /* Remove any left margin */
    margin-right: 0; /* Remove any right margin */
}


#whitehorse img {
    max-width: 200vh; /* Make the image responsive within its container */
    max-height: 100%; /* Ensure the image doesn't exceed its container's height */
    display: block; /* Ensure the image is displayed as a block-level element */
    background: transparent;
    margin-bottom: 0;  /* Remove bottom margin from the image */
}

  .interactive-img {
    position: absolute;
    left: 0;
    width: 200px;
    height: auto;
    cursor: grab;
    background-image: radial-gradient(
        lightyellow 0%,
        lightblue 70%
        );
  }
  
  #interactive-img1 {
    top: 20%;
  }
  
  #interactive-img2 {
    top: 50%;
  }
  
  #interactive-img3 {
    top: 80%;
  }
  