* {
    line-height: 1.5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 700px;
}

.content a {
    color: lightblue;
    font-size: 17px;
    text-decoration: none;
    text-transform: lowercase;
}

.content a:hover {
    color: red;
}

.name {
    color: red;
    font-size: 18px;
}



