html {
    height: 100%;
    background-color: rgb(182, 219, 255);
    margin: 0;   /* Remove any default margins */
    padding: 0;  /* Remove any default padding */
    /* ... (keep the rest of your body and html styles) ... */
    font-family: "Fira Code";
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    background: rgb(182, 219, 255);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; /* Hide scrollbars */
}
        
#whitehorse * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#whitehorse html, #whitehorse body {
    margin: 0;   /* Remove any default margins */
    padding: 0;  /* Remove any default padding */
    /* ... (keep the rest of your body and html styles) ... */
}

#whitehorse .whitehorse {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;  /* 100% of the viewport height */
    display: flex;  /* Use Flexbox */
    flex-direction: column;  /* Stack children vertically */
    justify-content: center;  /* Center children vertically */
    align-items: center;  /* Center children horizontally */
}

#whitehorse img {
    flex-grow: 1;  /* Allow the image to grow and take available space */
    object-fit: contain;  /* Keeps aspect ratio */
    height: auto;
    max-height: 80vh; /* Try a larger value */
    width: auto;
    max-width: 100%;
}

#whitehorse .description {
    flex-shrink: 0;  /* Prevent the text box from shrinking */
    height: 20vh; /* Reduced to compensate for the larger image */
    color: white;
    background-color: black;
    text-align: left;
    overflow-y: auto;
    width: 100%;  /* Make it span the entire width of the .whitehorse container */
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:-1;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 80%;
  } 

#rattlesnake .description {
    flex-shrink: 0;  /* Prevent the text box from shrinking */
    height: 20vh; /* Reduced to compensate for the larger image */
    color: white;
    background-color: black;
    text-align: left;
    overflow-y: auto;
    width: 100%;  /* Make it span the entire width of the .whitehorse container */
}