html {
    height: 100%;
    margin: 0%;
}

body {
    background: lightblue;
    min-height: 100vh;
    max-width: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html, body {
    cursor: url('generic-cursor_4.png'), auto; /* Custom cursor for the whole page */
}

a {
    cursor: url('generic-cursor_3.png'), auto; /* Custom cursor for all links */
}

.content p {
    margin: 0; /* This removes the default top and bottom margins from the paragraph tags */
    padding: 0; /* If you also want to remove any default padding */
}

.content a {
    color: grey;
    font-size: 15px;
    text-decoration: none;
    text-transform: lowercase;
    font-family: Georgia, Tahoma, Verdana;
    padding-left: 0px;
    display: block; /* This will treat each link as a block-level element */
    margin-bottom: 0.1em; /* Adjust this value to control the space between the links */
}

.content a:hover {
    color: rgb(143, 132, 227);
    font-size: 15px;
    text-transform: lowercase;
}

.name {
    color: rgb(255, 255, 110);
    position: fixed;
    top: 2%;
    left: 2%;
    font-size: 18px;
    font-family: Georgia, Tahoma, Verdana
}

.page a {
    position: fixed;
    top: 5%;
    left: 3%;
    color: rgb(255, 255, 110);
    text-decoration: none;
    font-size: 18px;
    font-family: Georgia, Tahoma, Verdana;
}

.page a:hover {
    color: rgb(143, 132, 227);
    font-family: Georgia, Tahoma, Verdana;
} 

.page .about {
    color: grey; 
    font-size: 15px; 
    font-family: Georgia, Tahoma, Verdana; 
}

.statement {
    position: absolute;
    top: 15%;
    margin-left: 30%;
    margin-right: 30%;
    color: grey; 
    font-size: 13.5px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

#red-maple-sapling {
    position: absolute;
    top: 50%; /* Centers vertically */
    left: 50%; /* Start at the center of the page horizontally */
    transform: translate(-50%, -50%); /* Shifts the element left by 50% of its width and up by 50% of its height */
    width: 450px;
    background-image: radial-gradient(lightyellow 0%, transparent 70%);
}

#red-maple-ascii {
    position: absolute;
    top: 50%; /* Centers vertically */
    left: 60%; /* Start at the center of the page horizontally */
    transform: translate(-50%, -50%); /* Shifts the element left by 50% of its width and up by 50% of its height */
    width: 200px;
}

/* Add this new class for your specific ul */
.horizontal-list {    
    padding-left: 0; /* Remove default padding */
    list-style: none; /* Remove default list styling */
    position: fixed; /* Fixed positioning for top right corner */
    top: 4%; /* Positioned at the top of the viewport */
    right: 2%; /* Positioned at the right of the viewport */
    margin: 0; /* Remove any margin */
    padding: 0px;
    border: 0;
    text-decoration: none;
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Vertically center the content */
}

/* Target the li elements within your new class */
.horizontal-list li {
    margin-right: 10px; /* Add some spacing between list items */
    padding: 0;
    border: 0;
    color: grey;
    font-size: 15px;
    text-decoration: none;
}

/* Now target the a elements within the li elements of your new class */
.horizontal-list li a {
    text-decoration: none;
    color: grey;
}

.horizontal-list li a:hover {
    color: rgb(143, 132, 227);
}

canvas {
    position: fixed;
    top: 20px; /* Adjusted to match the container's top position */
    right: 2%; /* Adjusted to match the container's right position */
    padding: 0px;
    border: 0;
    outline: none;
    z-index: 1001; /* Ensure the image is above the dropdown content */
    width: 70px; /* Image width */
}

#gradientCanvas {
    position: fixed;
    top: 20px; /* Adjusted to match the container's top position */
    right: 2%; /* Adjusted to match the container's right position */
    padding: 0px;
    border: 0;
    outline: none;
    z-index: 1001; /* Ensure the canvas is above the dropdown content */
    width: 30px; /* Set the width and height to create a square canvas */
    height: 30px; /* Set the same value for height to create a square canvas */
}

@media screen and (max-width: 768px) {
    .statement {
        padding-right: 20px;
        font-size: 14px;
    }

    .menu {
        right: 20px;
    }

    .name {
        font-size: 16px;
        margin-right: 0;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .menu ul {
        margin: 20px;
    }

    .cv {
        padding-right: 10px;
    }

    body, html {
        margin: 0;
        padding: 0;
    }


}