* {
    line-height: 1;
}

html {
    height: 100%;
}

body {
    background: white
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 120px;
    background-image: radial-gradient(
        rgb(255, 255, 110) 0%,
        white 70%
        );
}

.content a {
    color: rgb(94, 208, 246);
    font-size: 17px;
    text-decoration: none;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
}

.content a:hover {
    color: rgb(188, 130, 188);
    font-size: 17px;
    text-transform: lowercase
}

.name {
    color: rgb(102, 200, 233);
    font-size: 18px;
    font-family: Georgia, Tahoma, Verdana;
}

.screenings {
    list-style: none;
    font-size: 18px;
}

.page a:active {
    text-decoration: none;
    color: rgb(188, 130, 188)ed;
    font-family: Arial, Helvetica, sans-serif;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1; 
    /*to edit the opacity effect change the percentage below */
    filter:opacity(100%);
    transform: translateX() translateY();
    filter:contrast(10);
    filter:saturate();
    filter:brightness(105%);
}










