* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overscroll-behavior-y: none;
}

body {
    background-color: rgb(136, 255, 56);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: none;
}

.image-container,
.ascii-vines {
    width: 100%;
    display: block;
}

#vines-ascii,
#vines-ascii-i {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 !important;
}