* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

body {
    background-color: rgb(136, 255, 56);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

.image-container,
.ascii-vines {
    width: 100%;
    display: block;
}

#vines-ascii,
#vines-ascii-i {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 !important;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    html, body {
        overflow: auto;
    }

    .image-container,
    .ascii-vines {
        width: max-content;
        height: max-content;
    }

    #vines-ascii,
    #vines-ascii-i {
        width: 250vw;
        height: 120vh;
        max-width: none;
        object-fit: cover;
    }
}