html, body {
    background-color: darkred;
    overflow: hidden; 
}

.image-container {
    position: relative;
    height: 100vh;
}

#vines-ascii {
    position: absolute;
    width: 15%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
} 

@media screen and (max-width: 480px) {
    #siblings-ascii-i {
        position: absolute;
        width: 45%;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
    }
}