html, body {
    height: 100%;
    margin: 0;
}
  
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
  
.video-box {
    border: 3px solid rgb(230, 255, 172);
    padding: 0px;
    /* Your other styles */
}

.video-box video {
    width: 100%; /* make video responsive within the container */
    display: block;
}
  