html, body {
    height: 100%;
    margin: 0;
}
  
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
  
.video-box {
    border: 3px solid rgb(230, 255, 172);
    padding: 0px;
    /* Your other styles */
}

.video-box video {
    width: 100%; /* make video responsive within the container */
    display: block;
}

.video-text {
    flex-shrink: 0;  /* Prevent the text box from shrinking */
    height: 20vh; /* Reduced to compensate for the larger image */
    color: white;
    background-color: black;
    text-align: left;
    overflow-y: auto;
    width: 100%;  /* Make it span the entire width of the .whitehorse container */
    font-family: "Fira Code";
}
  