* {
    line-height: 1.5;
    
}

html {
    height: 100%;
    margin: 0%;
}

body {
    background: lightblue;
    min-height: 100vh;
    max-width: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html, body {
    cursor: url('sunset_cursor.png'), auto; /* Custom cursor for the whole page */
}

a {
    cursor: url('sunset_hover.png'), auto; /* Custom cursor for all links */
}

.page a {
    position: fixed;
    top: 5%;
    left: 3%;
    color: rgb(255, 255, 110);
    text-decoration: none;
    font-size: 18px;
    font-family: Georgia, Tahoma, Verdana;
}
.page a:hover {
    color: rgb(143, 132, 227);
    font-family: Georgia, Tahoma, Verdana;
} 

.page .about {
    color: grey; 
    font-size: 15px; 
    font-family: Georgia, Tahoma, Verdana; 
}

.statement {
    position: absolute;
    top: 15%;
    margin-left: 30%;
    margin-right: 30%;
    color: grey; 
    font-size: 13.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.content a {
    color: grey;
    font-size: 15px;
    text-decoration: none;
    text-transform: lowercase;
    font-family: Georgia, Tahoma, Verdana;
    padding-left: 0px;
}

.content a:hover {
    color: rgb(143, 132, 227);
    font-size: 15px;
    text-transform: lowercase
}

.name {
    color: rgb(255, 255, 110);
    font-size: 18px;
    font-family: Georgia, Tahoma, Verdana;
    padding-left: 10px;
}

#red-maple-sapling {
    position: absolute;
    top: 40%;
    margin-left: 30%;
    margin-right: 30%;
    width: 450px;
    background-image: radial-gradient(
        lightyellow 0%,
        transparent 70%
        );
}

#red-maple-ascii {
    position: absolute;
    top: 55%;
    margin-left: 50%;
    margin-right: 50%;
    width: 200px;
}

@media screen and (max-width: 768px) {
    .statement {
        padding-right: 20px;
        font-size: 14px;
    }

    .menu {
        right: 20px;
    }

    .name {
        font-size: 16px;
        margin-right: 0;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .menu ul {
        margin: 20px;
    }

    .cv {
        padding-right: 10px;
    }

    body, html {
        margin: 0;
        padding: 0;
    }


}