* {
    line-height: 1.5;
    
}

html {
    height: 100%;
    margin: 0%;
}

body {
    background: lightblue;
    min-height: 100vh;
    max-width: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page a {
    position: fixed;
    top: 5%;
    left: 3%;
    color: rgb(255, 255, 110);
    text-decoration: none;
    font-size: 18px;
    font-family: Georgia, Tahoma, Verdana;
}
.page a:hover {
    color: rgb(143, 132, 227);
    font-family: Georgia, Tahoma, Verdana;
} 

.page .about {
    color: grey; 
    font-size: 15px; 
    font-family: Georgia, Tahoma, Verdana; 
}

.statement {
    position: absolute;
    top: 10%;
    left: 50%;
    color: grey; 
    font-size: 13.5px;
    font-family: Arial, Helvetica, sans-serif;
}

#red-maple-sapling {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 450px;
    background-image: radial-gradient(
        lightyellow 0%,
        transparent 70%
        );
}

#red-maple-ascii {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 300px;
}